html, body {font-family: "Times New Roman", serif; overflow-x: hidden; background-color: #100; color: #ffffff; margin: 0.75em;}
a:link {color: #fff; text-decoration: underline;}
a:hover {color: #eee; text-decoration: none;}
a:active {color: #fff; text-decoration: none;}
a:visited {color: #fff; text-decoration: underline;}
ul {background-color: #fee1; display: inline-block; padding: 0.25em;}
li {list-style-type: none;}
details, summary {margin-bottom: 1.5ex}
summary {cursor: pointer; font-size: 1.3em;}
